<% flash[:errors].try(:each) do |error| %>
	<%= error %>
<% end %>

<h3>Edit Track</h3>

<%= render :partial => "track_form", :locals => { :albums => @albums,
																									:track => @track,
																								  :method => :edit } %>