<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h3>Welcome to the MusicApp!</h3>
		<p>
			Your email address is <%= @user.email %>.
		</p>
		<p>
			Follow this link to complete your registration:
		</p>
		<p>
			<%= @url %>
		</p>
		<p>
			Happy exploration of crappily-formatted webpages!
		</p>
	</body>
</html>