<% flash[:errors].try(:each) do |error| %>
	<%= error %>
<% end %>

<h3>Edit Album</h3>

<%= render :partial => "album_form", :locals => { :bands => @bands,
																									:album => @album,
																								  :method => :edit } %>