<% flash[:errors].try(:each) do |error| %>
	<%= error %>
<% end %>

<h3>Edit Band</h3>

<%= render :partial => "band_form", :locals => { :band => @band,
																								 :hidden_method => "put" } %>