<h3>Bands</h3>

<ul>
	<% @bands.each do |band| %>
		<li><%= link_to band.name, band_url(band) %></li>
		<% if @current_user.admin? %>
			<%= button_to "Delete Band", band_url(band), :method => "delete" %>
		<% end %>
	<% end %>
</ul>