<h3><%= @band.name %></h3>

<% @albums.each do |album| %>
	<h4><%= link_to album.name, album_url(album) %></h4>
	<% album.tracks.each do |track| %>
		<li><%= track.title, track_url(track) %></li>
	<% end %>
<% end %>